<footer>
  <div class="row">
    <div class="icons col-sm-12 col-lg-3">
      <img class="logo" src="images/logo.svg" alt="" />
      <p class="easybank">easybank</p>
      <img src="images/icon-facebook.svg" alt="" />
      <img src="images/icon-youtube.svg" alt="" />
      <img src="images/icon-twitter.svg" alt="" />
      <img src="images/icon-pinterest.svg" alt="" />
      <img src="images/icon-instagram.svg" alt="" />
    </div>
    <div class="first-col col-sm-12 col-lg-3">
      <ul>
        <li><a href="">About Us</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Blog</a></li>
      </ul>
    </div>
    <div class="second-col col-sm-12 col-lg-3">
      <ul>
        <li><a href="">Careers</a></li>
        <li><a href="">Support</a></li>
        <li><a href="">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="button col-sm-12 col-lg-3">
      <form action="/" method="post">
        <button class="secondary-btn btn-primary signup-btn" type="submit">
          Request Invite
        </button>
      </form>
      <p class="copyright">&copy;Easybank. All Rights Reserved</p>
    </div>
  </div>
</footer>

<div class="attribution">
  Challenge by
  <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
    >Frontend Mentor</a
  >. Coded by <a href="#">Anu Adejola</a>.
</div>
