<%- include('partials/header')-%>
<div class="p-5 mb-4 bg-body-tertiary rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Success!</h1>
    <p class="col-md-8 fs-4">
      Yay! Now you would be among the first to know when we launch EasyBank. See
      you soon!
    </p>
    <form action="/success" method="post">
      <button class="signup-btn" type="submit">Back to homepage</button>
    </form>
  </div>
</div>
